Source: gkrellm-gkrellmpc
Section: sound
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper-compat (= 13), libcurl4-gnutls-dev, gkrellm (>= 2.0.0), libgtk2.0-dev, pkg-config
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/mpd-team/gkrellm-gkrellmpc.git
Vcs-Browser: https://salsa.debian.org/mpd-team/gkrellm-gkrellmpc
Rules-Requires-Root: no

Package: gkrellm-gkrellmpc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gkrellm (>= 2.0.0)
Description: GKrellM plugin for controlling MPD
 This GKrellM plugin works as a client for Music Player Daemon (MPD). It shows
 the current song and allows one to control the playback and change the
 playlist.
